<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tune your vehicle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-label>Type</ion-label>

  <div id="container_type">
    <ion-radio-group (ionChange)="updateConfiguration()" [(ngModel)]="selectedVehicleType">
      <ion-item>
        <ion-radio value="Car"></ion-radio>
        <ion-label>Car</ion-label>
        <ion-label class="credits">0 crédit</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="Motorbike"></ion-radio>
        <ion-label>Motorbike</ion-label>
        <ion-label class="credits">0 crédit</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="Hovercraft"></ion-radio>
        <ion-label>Hovercraft</ion-label>
        <ion-label class="credits">50 crédit</ion-label>
      </ion-item>
    </ion-radio-group>
  </div>

  <ion-label>Tires</ion-label>

  <div id="container_tires">
    <ion-radio-group (ionChange)="updateConfiguration()" [(ngModel)]="selectedTires">
      <ion-item>
        <ion-radio [disabled]="selectedVehicleType === 'Hovercraft'" value="Hard"></ion-radio>
        <ion-label>Hard tires</ion-label>
        <ion-label class="credits">0 crédit</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio [disabled]="selectedVehicleType === 'Hovercraft'" value="Soft"></ion-radio>
        <ion-label>Soft tires</ion-label>
        <ion-label class="credits">30 crédit</ion-label>
      </ion-item>
    </ion-radio-group>
  </div>


  <ion-label>Extras</ion-label>
  <div id="container_extras">
    <ion-item>
      <ion-checkbox (ionChange)="updateConfiguration()" [(ngModel)]="isNitroSelected"
                    labelPlacement="end"></ion-checkbox>
      <ion-label>Nitro (10 Units)</ion-label>
      <ion-label class="credits">100 crédit</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox (ionChange)="updateConfiguration()" [(ngModel)]="isSpoilerSelected"
                    labelPlacement="end"></ion-checkbox>
      <ion-label>Spoiler</ion-label>
      <ion-label class="credits">200 crédit</ion-label>
    </ion-item>

  </div>


  <ion-item id="container_totale">
    <ion-label>
      Total: {{ configuration.creditsRequired }} crédits
    </ion-label>
    <ion-label [ngClass]="{'total-red': configuration.creditsRequired > credits}" class="credit_disponible">credits
      available: {{ credits }}</ion-label>
  </ion-item>

  <ion-button (click)="navigateToPurchase()"
              [disabled]="isTotalExceededAvailableCredits()"
              expand="block" shape="round">
    Purchase
  </ion-button>

</ion-content>
