<ion-header [translucent]=" true ">
  <ion-toolbar>
    <ion-title>
      Purchase done
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-label #purchaseSummary>Total amount: {{ total }} credits - Purchased: {{ purchasedItems }} - Credits
    left: {{ creditsLeft }}</ion-label>

  <ion-button (cbOnError)="onCopyError()" (cbOnSuccess)="onCopySuccess()" [cbContent]="getClipboardText()"
              expand="block" ngxClipboard shape="round">
    Copy to clipboard
  </ion-button>
  <ion-img alt='Helmet Image' src='assets/helmet.png'/>

</ion-content>
